{% load static %}
<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{{ APPNAME }} - {% block title %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  </head>

  <body>

    <div class="test">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand appname" href="{% url 'home' %}">{{ APPNAME }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home" style="padding-right:0.4em;"></i>Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-question" style="padding-right:0.4em;"></i>À propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal" onClick="$('#loginbox').show(); $('#signupbox').hide(); $('#citizenbox').hide(); $('#farmerbox').hide()""><i class=" fas fa-user-alt" style="padding-right:0.4em;"></i>Inscription/Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-pen-nib" style="padding-right:0.4em;"></i>Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">Inscription/Connexion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form id="loginbox">
              <p>Pas encore de compte ? <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">Veuillez-vous inscrire ici</a>.</p>
              <div class="form-group">
                <label for="InputEmail1">Adresse e-mail</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre adresse e-mail">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre mot de passe">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Se connecter</button>
              </div>
            </form>

            <form id="signupbox" style="">
              <div class="form-group">
                <center>
                <h5>Je suis...</h5>
                <button type="submit" class="btn btn-primary" onClick="$('#signupbox').hide(); $('#citizenbox').show()">Un citoyen</button>
                <button type="submit" class="btn btn-primary" onClick="$('#signupbox').hide(); $('#farmerbox').show()">Un vendeur</button>
                </center>
              </div>
            </form>

            <form id="citizenbox">
              <div class="form-group">
                <label for="FirstName">Prénom</label>
                <input type="text" class="form-control" id="InputFirstName" aria-describedby="emailHelp" placeholder="Entrez votre prénom">
              </div>
              <div class="form-group">
                <label for="Name">Nom</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre nom de famille">
              </div>
              <div class="form-group">
                <label for="InputEmail1">Adresse e-mail</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre adresse e-mail">
              </div>
              <div class="form-group">
                <label for="InputEmail1">Numéro de téléphone</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre numéro de téléphone">
              </div>
              <div class="form-group">
                <label for="Name">Adresse postale</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="rue de Bruxelles 61, 5000 Namur (BELGIQUE)">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">S'enregistrer</button>
              </div>
            </form>

            <form id="farmerbox">
              <div class="form-group">
                <label for="FirstName">Prénom</label>
                <input type="text" class="form-control" id="InputFirstName" aria-describedby="emailHelp" placeholder="Entrez votre prénom">
              </div>
              <div class="form-group">
                <label for="Name">Nom</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre nom de famille">
              </div>
              <div class="form-group">
                <label for="InputEmail1">Adresse e-mail</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre adresse e-mail">
              </div>
              <div class="form-group">
                <label for="InputEmail1">Numéro de téléphone</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre numéro de téléphone">
              </div>
              <div class="form-group">
                <label for="Name">Adresse postale</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="rue de Bruxelles 61, 5000 Namur (BELGIQUE)">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">S'enregistrer</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>

    {% block body %}{% endblock %}


    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{ APPNAME }} 2018</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block javascript %}{% endblock %}
    <script>
      $(document).ready(function() {
        var docHeight = $(window).height();
        var footerHeight = $('footer').height();
        var footerTop = $('footer').position().top + footerHeight;

        if (footerTop < docHeight) {
          $('footer').css('margin-top', 0 + (docHeight - footerTop - 90) + 'px');
        }
      });
    </script>
  </body>

  </html>
