{% extends "base.html" %}
{% load static %}
{% block title %}À propos{% endblock %}
{% block body %}
<div class="supercontainer">
  <div class="container">


    <h4>À propos</h4>

    <div class="jumbotron">
      <p class="lead"><span class="appname">{{ APPNAME }}</span> est une plateforme ayant pour but de <strong>recréer du lien</strong> entre habitants d'un même endroit.</p>
    </div>


    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus bibendum varius. Nulla iaculis ligula quis sapien tristique, eget consequat odio ultricies. In et laoreet mi. Nulla faucibus id diam eu malesuada. Quisque ultricies non ipsum vel posuere. In dapibus auctor dapibus. Aenean in felis vel quam maximus venenatis. Curabitur dapibus molestie placerat.</p>

    <p>Donec a mauris volutpat, maximus metus sollicitudin, convallis nibh. Aenean tristique felis quis lectus commodo, a ornare mi pharetra. Aliquam porttitor purus nunc, id tempor nisl imperdiet at. Mauris eu feugiat elit. Praesent nulla orci, tincidunt in massa sit amet, condimentum euismod risus. Nulla facilisi. In vitae quam eu libero aliquam pharetra. Vestibulum in diam sit amet urna placerat mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer malesuada ut dolor id pellentesque. Suspendisse pulvinar, arcu non hendrerit fermentum, neque massa sollicitudin arcu, sit amet elementum nunc libero a nibh.</p>

    <p>Suspendisse potenti. Mauris dignissim arcu at porta vehicula. Morbi eget maximus ex. In hac habitasse platea dictumst. Proin placerat leo felis, vitae sollicitudin nulla molestie eu. Aenean dignissim ante mauris, in ultricies quam dapibus a. Suspendisse pretium quam vitae orci scelerisque auctor. Ut porttitor lorem risus, non efficitur quam porta at. Nunc orci elit, maximus sed ultricies non, pulvinar quis ipsum. Donec vitae pretium ex. Phasellus et suscipit ligula. Mauris finibus rhoncus diam, a porta tortor molestie vitae. Morbi turpis enim, tempus sed auctor et, volutpat ut leo.</p>

    <p>Maecenas ornare tincidunt est at pretium. Aliquam erat volutpat. Aliquam varius ante ut ex blandit dignissim. Quisque interdum elementum leo eu vestibulum. Curabitur condimentum arcu vitae metus pellentesque elementum non pellentesque tortor. Aliquam erat volutpat. Pellentesque iaculis sed lorem vel aliquet. Vestibulum aliquam erat quam, sed vulputate enim malesuada a. Donec ultrices justo a magna mattis, nec viverra lacus iaculis. Pellentesque et imperdiet nisi. Aenean cursus iaculis erat sit amet volutpat. Aliquam erat volutpat. Nam lobortis ante non risus tincidunt, sit amet finibus augue porta. Nulla dictum elit vel odio accumsan semper nec hendrerit sapien. Sed finibus lorem velit, at lobortis arcu hendrerit a. Curabitur suscipit nisi pharetra auctor rutrum. </p>






    </div>

  </div>
{% endblock %}
