{% extends "base.html" %}
{% load static %}
{% block title %}{{ FARMER_NAME }}{% endblock %}
{% block body %}
<div class="supercontainer">
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Nouvelles</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Commune</a></li>
      </ol>
    </nav>

    <div class="supercontainer">
      <div class="container">

        <div class="row">
          <div class="col-sm-1"></div>

          <div class="col-sm-11">
            <div class="btn-primary btn-lg">
              Fusce euismod ut mauris eu placerat. Phasellus vitae gravida felis. Aenean et urna in felis suscipit convallis sed a ipsum. Donec congue venenatis massa nec vulputate. Phasellus tristique a quam quis vestibulum. Proin urna elit,
              imperdiet quis efficitur a, vulputate at urna.
            </div>
            <a href="#">Réagir</a>
            <div class="space"></div>

            <div class="btn-secondary btn-lg">
              Fusce euismod ut mauris eu placerat. Phasellus vitae gravida felis. Aenean et urna in felis suscipit convallis sed a ipsum. Donec congue venenatis massa nec vulputate. Phasellus tristique a quam quis vestibulum. Proin urna elit,
              imperdiet quis efficitur a, vulputate at urna.
            </div>
            <a href="#">Réagir</a>
            <div class="space"></div>

            <div class="btn-primary btn-lg">
              Fusce euismod ut mauris eu placerat. Phasellus vitae gravida felis. Aenean et urna in felis suscipit convallis sed a ipsum. Donec congue venenatis massa nec vulputate. Phasellus tristique a quam quis vestibulum. Proin urna elit,
              imperdiet quis efficitur a, vulputate at urna.
            </div>
            <a href="#">Réagir</a>
            <div class="space"></div>

            <div class="btn-secondary btn-lg">
              Fusce euismod ut mauris eu placerat. Phasellus vitae gravida felis. Aenean et urna in felis suscipit convallis sed a ipsum. Donec congue venenatis massa nec vulputate. Phasellus tristique a quam quis vestibulum. Proin urna elit,
              imperdiet quis efficitur a, vulputate at urna.
            </div>
            <a href="#">Réagir</a>
            <div class="space"></div>

          </div>



        </div>
      </div>
    </div>




  </div>

</div>

{% endblock %}
