{% extends "base.html" %}
{% load static %}
{% block title %}{{ FARMER_NAME }}{% endblock %}
{% block body %}
<div class="supercontainer">
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Nouvelles</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Commune</a></li>
      </ol>
    </nav>

    <div class="supercontainer">
      <div class="container">

<div class="btn btn-primary btn-lg">
  Fusce euismod ut mauris eu placerat.<br /> Phasellus vitae gravida felis. Aenean et urna in felis suscipit convallis sed a ipsum. Donec congue venenatis massa nec vulputate. Phasellus tristique a quam quis vestibulum. Proin urna elit, imperdiet quis efficitur a, vulputate at urna. Vestibulum vitae magna sed lorem lacinia vulputate. Integer vitae massa in dui convallis cursus. Nunc turpis nunc, venenatis sit amet augue ac, vulputate rutrum lectus. Nullam imperdiet vehicula varius. <br />Nullam et varius mi. Duis tincidunt eget tortor eget iaculis. <br />Sed pulvinar venenatis dui, sit amet sollicitudin eros aliquet sit amet. Nullam id cursus quam. Fusce a dolor pulvinar, luctus mi vel, elementum nibh. Mauris vitae justo non neque hendrerit elementum.</div>

      </div>
    </div>




  </div>

</div>

{% endblock %}
