{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <!-- Header with Background Image -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="display-4 text-center m-5">Bienvenue sur {{ APPNAME }} !</h3>

              <h4 class="display-5 text-center">Trouvez un producteur à <strong>votre proximité</strong> :</h4>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Saisissez votre code postal...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-6 my-6">
          <h2 class="mt-4">Qu'est-ce que c'est ?</h2>
          <p>{{ APPNAME }} a pour objectif de promouvoir une <strong>agriculture durable</strong> et <strong>écologique</strong> par la mise en place d'une plateforme de vente <strong>connectant les citoyens aux producteurs locaux</strong> qui les entourent.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#">En savoir plus &raquo;</a>
          </p>
        </div>
        <div class="col-sm-6 my-6">
          <h2 class="mt-4">Comment cela fonctionne ?</h2>
          <ul>
            <li>Saisissez votre code postal pour qu'une liste des producteurs les plus proches de vous s'affiche.</li>
            <li>La liste des agriculteurs recense les produits que chacun vend</li>
          </ul>

        </div>
      </div>


      <!-- /.row -->

      <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
