{% extends "base.html" %}
{% block title %}ABC{% endblock %}
{% block body %}
    <div class="container">
        <ul class="nav justify-content-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Produits laitiers</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Fromage</a>
              <a class="dropdown-item" href="#">Lait</a>
              <a class="dropdown-item" href="#">Yaourt</a>
            </div>
          </li>
        </ul>
    </div>
{% endblock %}

{% block javascript %}
    <script>

    </script>
{% endblock %}