{% extends "base.html" %}
{% block title %}ABC{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-md-center justify-content-start">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-md-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produits laitiers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Fromage</a>
                        <a class="dropdown-item" href="#">Lait</a>
                        <a class="dropdown-item" href="#">Yaourt</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fruits
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Fromage</a>
                        <a class="dropdown-item" href="#">Lait</a>
                        <a class="dropdown-item" href="#">Yaourt</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Légumes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Fromage</a>
                        <a class="dropdown-item" href="#">Lait</a>
                        <a class="dropdown-item" href="#">Yaourt</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Oeufs/Pâtes</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row mw-100 h-100">
        <div class="col-9">
            <iframe frameborder="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=4.610052108764649%2C50.7131998730515%2C4.753389358520509%2C50.76094761149749&amp;layer=mapnik" style="width:100%; height: 100%;"></iframe>
        </div>
        <div class="col-3">
            <div class="jumbotron jumbotron-fluid" style="height: 100%;">
                <div class="container">
                    <h2>Produits sélectionnés :</h2>
                    <p class="lead">Vous n'avez encore sélectionné aucune produit.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}